.login{
    background:linear-gradient(to left, rgba(22, 47, 20, 0.581), rgba(22, 47, 20, 0.581)), url("../../../assets/flat-biofuel-production-plant-with-corn-field_88138-971.webp");
    background-repeat: no-repeat;
    background-size: cover;
}